<section class="py-5 text-center container">
    <h1 class="fw-light" *ngIf="!this.userService.EsAdmin()">Mis turnos</h1>
    <h1 class="fw-light" *ngIf="this.userService.EsAdmin()">Turnos</h1>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div>
            <input type="text" [(ngModel)]="filtro">
            <button type="button" class="btn btn-outline-success" (click)="Filtro()" style="margin-right: 20px;">Filtrar</button>
            <button type="button" class="btn btn-outline-danger" (click)="Turnos()">Borrar filtro</button>
        </div>
        <app-turnos [inputTurnos]="this.turnos"></app-turnos>
    </div>
</div>
