<div style="text-align: center;">
  <img class="rotate-center" src="../../../assets/logo.png" width="80px" style="margin-top: 20px;" *ngIf="spinner">
  <img src="../../../assets/logo.png" width="80px" style="margin-top: 20px;" *ngIf="!spinner">
</div>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form [formGroup]="formEspecialista" (ngSubmit)="RegistroEspecialista()">
			<h2 style="margin-bottom: 40px">Registro especialista</h2>
            <label>Nombre</label>
            <small class="invalid" *ngIf="formEspecialista.controls['nombre'].errors?.['required'] && formEspecialista.controls['nombre'].touched">
                Nombre inválido.
            </small>
            <input type="text" formControlName="nombre"/>

            <label>Apellido</label>
            <small class="invalid" *ngIf="formEspecialista.controls['apellido'].errors?.['required'] && formEspecialista.controls['apellido'].touched">
                Apellido inválido.
            </small>
            <input type="text" formControlName="apellido"/>

            <label>Edad</label>
            <small class="invalid" *ngIf="formEspecialista.controls['edad'].errors?.['required'] && formEspecialista.controls['edad'].touched
             || (formEspecialista.controls['edad'].errors?.['min'] || formEspecialista.controls['edad'].errors?.['max'])">
              Edad inválida.
             </small>
            <input type="number" formControlName="edad"/>

            <label>DNI</label>
            <small class="invalid" *ngIf="formEspecialista.controls['dni'].errors?.['required'] && formEspecialista.controls['dni'].touched
             || (formEspecialista.controls['dni'].errors?.['min'] || formEspecialista.controls['dni'].errors?.['max'])">
              DNI inválido.
             </small>
            <input type="number" formControlName="dni"/>

            <label>Seleccione una especialidad</label>
            <div class="input-group mb-3">
              <app-especialidades (especialidadSeleccionadaEmitter)="SeleccionarEsp($event)"></app-especialidades>
            </div>
            <small class="invalid" *ngIf="formEspecialista.controls['especialidad'].errors?.['required'] && formEspecialista.controls['especialidad'].touched">
                Seleccione o ingrese.
            </small>
            <input type="text" class="form-control" placeholder="o ingrese una nueva" [value]="this.formEspecialista.value.especialidad" formControlName="especialidad">

            <label>Correo electrónico</label>
              <small class="invalid" *ngIf="formEspecialista.controls['email'].errors?.['required'] && formEspecialista.controls['email'].touched
                || formEspecialista.controls['email'].errors?.['email']">
                Email inválido.
              </small>
            <input type="email" formControlName="email"/>
        
            <label>Contraseña</label>
              <small class="invalid" *ngIf="formEspecialista.controls['clave'].errors?.['required'] && formEspecialista.controls['clave'].touched">
                Contraseña inválida.
              </small>
            <input type="password" formControlName="clave"/>
            
            <label>Imágen de perfil</label>
              <small class="invalid" *ngIf="formEspecialista.controls['foto'].errors?.['required'] && formEspecialista.controls['foto'].touched">
                Seleccione una imágen.
              </small>
            <input type="file" class="form-control" accept="image/*" (change)="SubirFoto1($event)" formControlName="foto"/>
      <br>
      <re-captcha (resolved)="CatpchaEsp($event)" siteKey="6LesaEwgAAAAABhNIKhuqEN7MfJDEEgSsD18Lnkz"></re-captcha>
			<button style="margin-top: 40px" [disabled]="formEspecialista.invalid">Continuar</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form [formGroup]="formPaciente" (ngSubmit)="RegistroPaciente()">
			<h2 style="margin-bottom: 40px">Registro paciente</h2>

			<label>Nombre</label>
            <small class="invalid" *ngIf="formPaciente.controls['nombre'].errors?.['required'] && formPaciente.controls['nombre'].touched">
                Nombre inválido.
            </small>
            <input type="text" formControlName="nombre"/>

            <label>Apellido</label>
            <small class="invalid" *ngIf="formPaciente.controls['apellido'].errors?.['required'] && formPaciente.controls['apellido'].touched">
                Apellido inválido.
            </small>
            <input type="text" formControlName="apellido"/>

            <label>Edad</label>
            <small class="invalid" *ngIf="formPaciente.controls['edad'].errors?.['required'] && formPaciente.controls['edad'].touched
             || (formPaciente.controls['edad'].errors?.['min'] || formPaciente.controls['edad'].errors?.['max'])">
              Edad inválida.
             </small>
            <input type="number" formControlName="edad"/>

            <label>DNI</label>
            <small class="invalid" *ngIf="formPaciente.controls['dni'].errors?.['required'] && formPaciente.controls['dni'].touched
             || (formPaciente.controls['dni'].errors?.['min'] || formPaciente.controls['dni'].errors?.['max'])">
              DNI inválido.
             </small>
            <input type="number" formControlName="dni"/>

            <label>Obra social</label>
            <small class="invalid" *ngIf="formPaciente.controls['obra'].errors?.['required'] && formPaciente.controls['obra'].touched">
                Obra social inválida.
            </small>
            <input type="text" formControlName="obra">

            <label>Correo electrónico</label>
              <small class="invalid" *ngIf="formPaciente.controls['email'].errors?.['required'] && formPaciente.controls['email'].touched
                || formPaciente.controls['email'].errors?.['email']">
                Email inválido.
              </small>
            <input type="email" formControlName="email"/>
        
            <label>Contraseña</label>
              <small class="invalid" *ngIf="formPaciente.controls['clave'].errors?.['required'] && formPaciente.controls['clave'].touched">
                Contraseña inválida.
              </small>
            <input type="password" formControlName="clave"/>
            
            <label>Imágenes de perfil</label>
              <small class="invalid" *ngIf="formPaciente.controls['foto1'].errors?.['required'] && formPaciente.controls['foto1'].touched">
                Seleccione una imágen.
              </small>
            <input type="file" class="form-control" accept="image/*" (change)="SubirFoto1($event)" formControlName="foto1"/>

              <small class="invalid" style="margin-top: 0;" *ngIf="formPaciente.controls['foto2'].errors?.['required'] && formPaciente.controls['foto2'].touched">
                Seleccione una imágen.
              </small>
            <input type="file" class="form-control" accept="image/*" (change)="SubirFoto2($event)" formControlName="foto2"/>
      <br>
      <re-captcha (resolved)="CatpchaPac($event)" siteKey="6LesaEwgAAAAABhNIKhuqEN7MfJDEEgSsD18Lnkz"></re-captcha>
			<button style="margin-top: 40px" [disabled]="formPaciente.invalid">Continuar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left ghost" id="signIn">
        <h3>¿Necesitas una cuenta de paciente?</h3>
        <img src="../../../assets/user.png" width="180px">
        </div>
        <div class="overlay-panel overlay-right ghost" id="signUp">
          <h3>¿Necesitas una cuenta de especialista?</h3>
          <img src="../../../assets/esp.png" width="180px">
			</div>
		</div>
	</div>
</div>