@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

h1{
	font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

h5{
    margin-top: 20px;
}

.user{
    text-align: center; 
    margin: auto;
    margin-top: 15px;
}

.card{
    max-width: 370px;
    min-width: 260px;
    min-height: 290px;
}

.container{
    width: fit-content;
}

button{
    background: #05afaf;
    color: white;
    &:hover{
        background: darken($color: #05afaf, $amount: 5);
        color: white;
    }
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: slide-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.shake-bottom {
	animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@keyframes shake-bottom{0%,100%{transform:rotate(0deg);transform-origin:50% 100%}10%{transform:rotate(2deg)}20%,40%,60%{transform:rotate(-4deg)}30%,50%,70%{transform:rotate(4deg)}80%{transform:rotate(-2deg)}90%{transform:rotate(2deg)}}