@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

h1{
	font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

h5{
    margin-top: 20px;
}

.user{
    text-align: center; 
    margin: auto;
    margin-top: 15px;
}

button{
    background: #05afaf;
    color: white;
    &:hover{
        background: darken($color: #05afaf, $amount: 5);
        color: white;
    }
}

.slide-in-right {
	animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right{0%{transform:translateX(1000px);opacity:0}100%{transform:translateX(0);opacity:1}}