p{
    text-align: initial;
    margin-left: 20px;
}

b{
    font-weight: 500;
}

.switch{
    margin-top: 18px;
    margin-left: 114px;
}

.switchp{
    display: inline-flex;
    float: left;
}

.user{
    text-align: center; 
    margin: auto;
    margin-top: 15px;
}

.card{
    &:hover{
		background-color: darken($color: #ffffff, $amount: 10);
        cursor:pointer;
	}
    &:active{
	    transform: scale(0.95);
    }
}