@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.bgcolor{
    background-color: #001d28;
}

h6{
	font-family: 'Montserrat', sans-serif;
    line-height: 2.5;
}

.navbar-collapse{
    flex-grow: 0;
}

.nav-item{
    margin-left: 20px;
}

li{
    &:hover{
        color: darken($color: #FFF, $amount: 10);
        cursor: pointer;
    }
}

.img{
    border-radius: 50%;
    background-color: #FFF;
    padding: 1px;
}

.rotate-center {
	-webkit-animation: rotate-center 1s ease-in-out infinite both;
	        animation: rotate-center 1s ease-in-out infinite both;
}

@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

