<div style="text-align: center;">
  <img class="rotate-center" src="../../../assets/logo.png" width="80px" style="margin-top: 20px;" *ngIf="spinner">
  <img src="../../../assets/logo.png" width="80px" style="margin-top: 20px;" *ngIf="!spinner">
</div>

<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form [formGroup]="form" (ngSubmit)="Login()">
			<h1>Log in</h1>

      <span>Ingreso rápido</span>
      <div class="rapido-container">
				<a (click)='InicioAutomatico("pagibic533@musezoo.com","123asd")' class="rapido">
          <img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-kv.appspot.com/o/fotos%2Fuser.png?alt=media&token=d48b49b2-49ea-4820-9181-6b7c5a8bce26" width="27px">   
        </a>
        <a (click)='InicioAutomatico("nko71859@zcrcd.com","123asd")' class="rapido">
          <img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-kv.appspot.com/o/fotos%2Fuser.png?alt=media&token=d48b49b2-49ea-4820-9181-6b7c5a8bce26" width="27px">   
        </a>
        <a (click)='InicioAutomatico("zod66565@jiooq.com","123asd")' class="rapido">
          <img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-kv.appspot.com/o/fotos%2Fuser.png?alt=media&token=d48b49b2-49ea-4820-9181-6b7c5a8bce26" width="27px">   
        </a>
				<a (click)='InicioAutomatico("ugq84795@jeoce.com","123asd")' class="rapido">
          <img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-kv.appspot.com/o/fotos%2Fesp.png?alt=media&token=ac3f21d9-ee69-4804-bf3b-305f09505564" width="27px">   
        </a>
        <a (click)='InicioAutomatico("vhu08132@zcrcd.com","123asd")' class="rapido">
          <img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-kv.appspot.com/o/fotos%2Fesp.png?alt=media&token=ac3f21d9-ee69-4804-bf3b-305f09505564" width="27px">   
        </a>
        <a (click)='InicioAutomatico("admin@admin.com","123asd")' class="rapido">
          <img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-kv.appspot.com/o/fotos%2Fadm.png?alt=media&token=03812e50-e079-4087-be5e-8e94b0233692" width="24px">   
        </a>
			</div>
      
			<label>Correo electrónico</label>
      <small class="invalid" *ngIf="form.controls['email'].errors?.['required'] && form.controls['email'].touched
        || form.controls['email'].errors?.['email']">
        Email inválido.
      </small>
      <input type="email" id="email" formControlName="email">

			<label>Contraseña</label>
      <small class="invalid" *ngIf="form.controls['clave'].errors?.['required'] && form.controls['clave'].touched">
        Contraseña inválida.
      </small>
      <input type="password" id="clave" formControlName="clave">

			<button type="submit" class="ingreso">Ingresar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h3>¿Necesitas una cuenta?</h3>
        <p>Regístrese como paciente o especialista según corresponda.</p>
				<button class="ingreso ghost" id="signUp" routerLink="../registro">Registrarse</button>
			</div>
		</div>
	</div>
</div>