<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<div>
    <section class="py-5 text-center container">
        <h1 class="fw-light">Informes y estadísticas</h1>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <section #informe>
                <div class="text-center" style="margin-bottom: 50px;">
                    <button type="button" (click)="generatePDF()">Informes y estadísticas en PDF</button>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    
                    <div class="card shadow-sm" style="margin: auto;">
                        <div class="card-body text-center" id="TurnoPorEsp"></div>
                    </div>
    
                    <div class="card shadow-sm" style="margin: auto;">
                        <div class="card-body text-center" id="TurnoPorDia"></div>
                    </div>
                </div>
                <br>
                <div class="row row-cols-1">
                    <div class="card shadow-sm">
                        <div class="card-body text-center">   
                            <label style="margin-bottom: 20px;">Informe de ingresos al sistema</label>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Fecha y hora</th>
                                    <th scope="col">Usuario</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let log of logs">
                                    <td>{{log.fecha}}</td>
                                    <td>{{log.email}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
